<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta name="format-detection" content="telephone=no">
  <meta charset="UTF-8">

  <meta name="description" content="Violate Responsive big data credit system, 互联网大数据系统">
  <meta name="keywords" content="big data, credit, cloud, koa, 互联网, 大数据, 系统">

  <title>互联网大数据系统st</title>

  <!-- CSS -->
  <link href="style/css/bootstrap.min.css" rel="stylesheet">
  <link href="style/css/form.css" rel="stylesheet">
  <link href="style/css/style.css" rel="stylesheet">
  <link href="style/css/animate.css" rel="stylesheet">
  <link href="style/css/generics.css" rel="stylesheet">
</head>
<body id="skin-blur-violate">
<section id="login">
  <header>
    <h1>互联网大数据系统</h1>
    <p>一个大规模的、安全可靠的，具备高可用性的集群文件系统，它是由XXX公司开发和维护的</p>
  </header>

  <div class="clearfix"></div>

  <!-- Login -->
  <form class="box tile animated active" id="box-login" action="./dashboard">
    <h2 class="m-t-0 m-b-15">登录</h2>
    <input type="text" class="login-control m-b-10" placeholder="用户名或电子邮箱">
    <input type="password" class="login-control" placeholder="密码">
    <div class="checkbox m-b-20">
      <label>
        <input type="checkbox">
        记住我
      </label>
    </div>
    <button class="btn btn-sm m-r-5">确定</button>

    <small>
      <a class="box-switcher" data-switch="box-register" href="">没有账户?</a> 或
      <a class="box-switcher" data-switch="box-reset" href="">忘记密码?</a>
    </small>
  </form>

  <!-- Register -->
  <form class="box animated tile" id="box-register">
    <h2 class="m-t-0 m-b-15">注册</h2>
    <input type="text" class="login-control m-b-10" placeholder="全名">
    <input type="text" class="login-control m-b-10" placeholder="用户名">
    <input type="email" class="login-control m-b-10" placeholder="邮件地址">
    <input type="password" class="login-control m-b-10" placeholder="密码">
    <input type="password" class="login-control m-b-20" placeholder="确认密码">

    <button class="btn btn-sm m-r-5">确定</button>

    <small><a class="box-switcher" data-switch="box-login" href="">已有账户?</a></small>
  </form>

  <!-- Forgot Password -->
  <form class="box animated tile" id="box-reset">
    <h2 class="m-t-0 m-b-15">重置密码</h2>
    <p>一个大规模的、安全可靠的，具备高可用性的集群文件系统</p>
    <input type="email" class="login-control m-b-20" placeholder="邮件地址">

    <button class="btn btn-sm m-r-5">重置</button>

    <small><a class="box-switcher" data-switch="box-login" href="">已有账户?</a></small>
  </form>
</section>

<!-- Javascript Libraries -->
<!-- jQuery -->
<script src="js/jquery.min.js"></script> <!-- jQuery Library -->

<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>

<!--  Form Related -->
<script src="js/icheck.js"></script> <!-- Custom Checkbox + Radio -->

<!-- All JS functions -->
<script src="js/functions.js"></script>
</body>
</html>
